// $red: #00C853;
$red: #FF3D00;
$orange: #FF6D00;
$green: #4CAF50;
// $green: #00C853;
$white: #FFFFFF;

.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: $red;
    color: $white;
    text-align: center;
}
.overlay.pomodoro {
    background-color: $red;
}
.overlay.break.short {
    background-color: $orange;
}
.overlay.break.long {
    background-color: $green;
}
.overlay.break.lunch {
    background-color: $green;
}